body {
	text-align: center;
	background-color: black;
	color: white;
}

img.icon {
	width: 1em;
}

a {
	color: white;
	font-weight: bold;
}

.wrap {
	width: 500px;
}

.content {
	position: relative;
	padding-top: 56%;
	width: 100%;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}